{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewGas</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
</head>
<body>
    
    <header class="header">
        <div class="header_logo">
            <a href="{% url 'index' %}"><img src="{% static  'img/logoNewGas.png' %}" alt="Logo-NewGas"></a>
        </div>
        <nav class="header_nav">
            <ul>
                <li>
                    <a href="{% url 'empresa' %}">EMPRESA</a>
                </li>
                <li>
                    <a href="{% url 'productos' %}">PRODUCTOS</a>
                </li>
                <li>
                    <a href="{% url 'servicios' %}">SERVICIOS</a>
                </li>
                <li>
                    <a href="{% url 'contactenos' %}">CONTACTENOS</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'miCuenta' %}">{{ user.username }}</a>
                        <span> | </span>
                        <a href="{% url 'logout' %}">CERRAR SESION</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'iniciarSesion' %}">INICIAR SESION</a>
                        <span> | </span>
                        <a href="{% url 'registrarse' %}">REGISTRARSE</a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </header>
    
    <main class="container">
        
        {% block content %}
        
        {% endblock %}

    </main>

    <footer>
        ©NewGas. Todos los Derechos Reservados 2022.
    </footer>
</body>
</html>